* {
    margin:0;
    box-sizing: border-box;
}
/* asterisk makes a rule for everything; gets rid of margins affecting figure; border box gives a standard of how to measure in boxes */

html {
    scroll-padding-top: 300px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: powderblue;
}

main {
    width: 90%;
    border: 2px solid palevioletred;
    margin: 0 auto ;
    display: flex;
    /* flex-direction: column; */
    /* flex-direction row is the default*/
    flex-wrap: wrap;
    /* wraps content if runs out of space */
    background-color: rebeccapurple;
}

figure {
    width: 100%;
    flex-basis: 300px;
    /* flex-basis says what the ideal size is */
    flex-grow: 1;
    /* let's the figure grow: 1 allows to grow, 0 makes stay the same; same applies to flex-shrink */
    flex-shrink: 1;
    margin: .5rem;
}

section {
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 1;
    margin: .5rem;
    /* rem = size of m is the font of this content */
    background-color: whitesmoke;
    padding: 8px;
    /* padding = space between words and outside of section; margin = space between section and next element */
}

img { 
    width: 100%;
}

@media only screen and (max-width:600px) {
      main {
        width: 100%;
        background-color: yellow;
        border: none;
    }

    figure {
        margin: 0;
    }

    p {
        font-size: 13px;
    }
}

/* @media makes the page change when it's on a small enough browser; must come at the end: css-tricks.com gives a good explanation of flex */